.header,
.footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(25, 113, 163);
}

.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 70vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.tempo-container{
    height: 5vh;
    display: flex;
    align-items: center;
}

.tempo-container p {
    font-size: 40px;
}

.pergunta-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-direction: column;
}

.resposta-container ol li {
    display: flex;
    align-items: center;
    gap: 5px;
}
