<body>
    <header class="header"></header>
    <main class="main">
        <div class="main-container">
            <div class="tempo-container">
                <p>TEMPO: {{ tempo }}</p>
            </div>
            <div class="pergunta-container">
                <p>{{ pergunta[currentIndex] }}</p>
            </div>
            <div class="resposta-container">
                @for(resposta of respostas[currentIndex].respostas; track resposta) {
                <ol>
                    <li>
                        <input placeholder="resposta" type="radio" [(ngModel)]="respostaSelecionada" [value]="resposta" />
                        <p>{{ resposta }}</p>
                    </li>
                </ol>
                }
            </div>
            <div class="botao-container">
                <button type="button" (click)="responder()">RESPONDER</button>
            </div>
        </div>
    </main>
    <footer class="footer"></footer>
</body>
